body {
    background-color: #292a3a;
    font-family:Whitney;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}
p{color: rgb(229, 229, 229);}
h10{color: rgb(229, 229, 229);} 
h10{font-size: 50px;}
h1 {
    color: 
    rgb(228, 203, 255);
    text-align: center;
}

h2 {
   color: 
    rgb(228, 203, 255);
}

img {
    width: 250px;
}

